* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #99e1e4;
  outline: 2px;
  border-radius: 10px;
  outline: 1px solid #191919;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px black;
          box-shadow: inset 0 0 6px black;
  background-color: white;
}

body {
  font-family: 'Nunito', sans-serif;
}
header{
  background-color: #99e1e4;
}
header li{
  list-style: none;
}
header a{
  color: #191919;
  text-decoration: none;
}
.centerblock {
  width: 80%;
  margin: 0px auto;
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-branding{
  font-size: 2rem;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-link{
  transition: 0.3s ease-out;
}
.nav-link:hover{
  color: dodgerblue;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}





#pozadina {
  background-image: url(img/2.jpeg);
  background-repeat: no-repeat;
  height: 70%;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

#pozadina h1 {
  padding: 16% 0 0 0%;
  color: #99e1e4;
  position: relative;
 font-size: 50px;
 font-weight: bold;
}
#pozadina h3 {
  padding: 2% 0 0 0%;
  color: #191919;
  position: relative;
 font-size: 30px;
}


#about {
  background-color: #191919;
  width: 100%;
  padding-bottom: 2%;
}

#about h2 {
  padding: 3%;
  font-size: 40px;
  color: #99e1e4;
  text-align: center;
  margin-left: -3%;
}

#about #zablokove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about #zablokove #slika {
  width: 100%;
  margin-left: 10%;
  background-color: #99e1e4;
}

#about #zablokove hr {
  border-color: black;
  background-color: black;
  width: 2px;
  margin-left: 1.8%;
}

#about #zablokove #tekst {
  width: 100%;
  padding: 3%;
  text-align: center;
  background-color: #99e1e4;
}
#about #zablokove #tekst1{
  width: inherit;
  margin-right: 20px;
  text-align: center;
  background-color: #191919;
  border-radius: 10px;
}


#about #zablokove #tekst h3 {
  font-size: 30px;
  color: black;
}

#about #zablokove #tekst p {
  font-size: 20px;
  font-weight: bold;
}

.wrapper {
  position:relative;
  transform:translateY(-50%);
  top:50%;
  margin: 0 auto;
  width:75%;
  overflow:hidden;
}

.wrapper p {
  position:absolute;
  left:100%;
  width:100%;
  font-size:2em;
  color:#ffffff;
  top:0;
  cursor:pointer;
  opacity:0;
  transition:left 1.4s, opacity .5s ease;
}
#slid{
  color: #191919;
}
.wrapper p.activeText {
  position:relative;
  left:0;
  opacity:1;
}

.wrapper p.slideLeft {
  left:-100%;
  opacity:0;
}

.wrapper p:before {
  content:"\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.wrapper p:after {
  content:"\201D";
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.45em;
}

ul {
  margin:0;
  padding:0;
  text-align:center;
}

ul li {
  list-style:none;
}
.dot {
  width:10px;
  height:10px;
  border-radius:100px;
  background:#7f8c8d;
  display:inline-block;
  text-align:center;
  cursor:pointer;
}

.active {
  background:#ecf0f1;
}






#servisi {
  background-color: #99e1e4;
  width: 100%;
  padding: 1% 0%;
}

#servisi #nasl, #servisi #projekti h2, #projekti #servisi h2 {
  padding: 3%;
  font-size: 40px;
  color: black;
  text-align: center;
}

#servisi #za3bloka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sblok1{
  padding: 1%;
  text-align: center;
  width: 30%;
  background-color: #191919;
  word-break: break-all;
  border-radius: 10px;
}
.sblok1 img{
width: 100%;
}
#servisi #za3bloka .sblok {
  padding: 1%;
  text-align: center;
  width: 30%;
  background-color: #191919;
  word-break: break-all;
  border-radius: 10px;
}

#servisi #za3bloka .sblok h3 {
  font-size: 25px;
  margin: 13px 0;
  color: #99e1e4;
}

#servisi #za3bloka .sblok i{
  font-size: 40px;
  color: #99e1e4;
  }
  #servisi #za3bloka .sblok p{
  font-size: 20px;
  color: #99e1e4;
}




#projekti {
  background-color: #191919;
  width: 100%;
  padding: 3% 0;
}

#projekti h2 {
  padding: 3%;
  font-size: 40px;
  color: #99e1e4;
  text-align: center;
}





#projekti #zapr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projekti #zapr #blokpr {
  padding: 1%;
  text-align: center;
  width: 40%;
  background-color: #99e1e4;
  display: flex;
  justify-content: space-around;
}







#blokpr ul{
  margin: 0px;
  padding: 0px;
}
#blokpr ul li{
  display: inline-block;
  cursor: pointer;
  width: 200px;
  height: 200px;
  padding: 10px;
}
#blokpr ul li img{
  width: 100%;
  height: 100%;
}
#show_image_popup{
  width: 400px;
  height: 400px;

  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  

  display: none;
}
#show_image_popup img{
  max-width: 80%;
  height: auto;
}

#all-images .active{
  filter: blur(5px);
}
.close-btn-area{
  width: 90%;
  text-align: right;
  margin-bottom: 5px;
  
}
.close-btn-area button{
  cursor: pointer;
}





#skills {
  background-color: #99e1e4;
  width: 100%;
  padding: 1% 0%;
}

#skills h1 {
  padding: 3%;
  font-size: 25px;
  color: #191919;
  text-align: center;
}
.skilblokovi h2 {
  padding: 3%;
  font-size: 25px;
  color: #99e1e4;
  text-align: center;
}

#skills #zaskilove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#skills #zaskilove .skilblokovi {
  width: 45%;
  background-color: #191919;
  padding: 1%;
  border-radius: 10px;
}
#glassl{
  font-size: 25px;
  color: #99e1e4;
}
#glass{
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  width: 100%;
}
#mirror{
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  width: 100%;
}
#skldugme{
  background-color: #99e1e4;
  color: #7c7c7c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  border-radius: 5px;
  border-color: white;
  padding: 5px;
}
#skldugme1{
  background-color: #99e1e4;
  color: #7c7c7c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  border-radius: 5px;
  border-color: white;
  padding: 5px;
}
#contact {
  background-color: #191919;
  width: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: center;
}

#contact #zaformu h2 {
  width: 100%;
  font-size: 40px;
  color: #191919;
  text-align: center;
  margin: 0px;
}



#contact #zaformu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #99e1e4;
  width: 50%;
  border-radius: 10px;
}

#contact #zaformu .forma {
  width: 100%;
  background-color: #99e1e4;
  border-radius: 10px;
}

#contact #zaformu  form {
  
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
  padding: 20px;
  background-clip: content-box;
  float: left;
}
#dp{
  width: 100%;
}
#dp #ddl{
  width: 100%;
 height: 30px;
}

.sakrij{
  display: none;
  
}
.greskap{
  color: red;
  margin-bottom: 3px;
  font-weight: bold;
}
.greska{
  border: 2px solid #ff0000;
}
.kraj{
  color: green;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 23px;
}
.kraj1{
  color: green;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 17px;
}


#contact #zaformu .forma form label {
  color: #191919;
}

#contact #zaformu .forma form ::-webkit-input-placeholder {
  color: #191919;
}

#contact #zaformu .forma form :-ms-input-placeholder {
  color: #191919;
}

#contact #zaformu .forma form ::-ms-input-placeholder {
  color: #191919;
}

#contact #zaformu .forma form ::placeholder {
  color: #191919;
}

#contact #zaformu .forma #ime {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
}

#contact #zaformu .forma #prezime {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
}

#contact #zaformu .forma #mejl {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
}

#contact #zaformu .forma #pisi {
  width: 100%;
  height: 150px;
  margin-bottom: 19px;
  resize: vertical;
  font-size: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
}

#contact #zaformu .forma form label {
  font-size: 29px;
  
}

#contact #zaformu #dugme {
  background-color: #191919;
  color: #7c7c7c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  border-radius: 5px;
  border-color: white;
  padding: 5px;
}

#contact #zaformu #dugme:hover {
  background-color: #98e45a 4, 87, 4;
  color: #98e45a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-color: #98e45a;
}



footer {
  text-align: center;
  background-color: #191919;
}

footer h4 {
  color: #99e1e4;
  font-size: 19px;
  padding: 2%;
}

footer #bold {
  font-weight: bolder;
  color: #7c7c7c;
}

footer #mreze i {
  font-size: 30px;
  color: #99e1e4;
  padding: 1.9%;
}



footer a {
  text-decoration: none;
  color: #7c7c7c;
  font-size: 17px;
  padding: 0px 5px;
}

